
.navButton {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 2;
}

@media (max-width: 576px) {
    .navButtonsBlock {
        flex-direction: column;
        left: 0;
        top: 0;
        right: 0;
        height: 100vh;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
}

.navButtonsBlock {
    composes: container from './../../App.css';
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

@media (max-width: 580px) {
    .navButtonsBlock {
        flex-direction: column;
    }

    .container {
        border-bottom: 1px solid darkgrey;
    }
}

.btn {
    background-color: rgba(0, 0, 0, 0.01);
    border: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    margin: 5px;
    cursor: pointer;
    z-index: 50;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.btn:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
.btnActive {
    border-bottom: 1px solid rgba(230, 230, 230, 0.4);
    text-shadow: 1px 1px 3px #e6e6e6, 0 0 1em #00004b;
    background-color: #00004b;
    box-shadow: 0px 0px 5px 0px #00004b;
}

.btnMenu {
    composes: btn;
    position: absolute;
    top: 15px;
    right: 15px;
    text-shadow: #1f1f20;
}
.btnMenu:after {
    content: "";
    position: absolute;
    width: 40%;
    bottom: 0;
    height: 25px;
    z-index: -1;
    background-color: #00004b;
    box-shadow: 0px 0px 5px 0px #00004b;
}
.btnMenu > img {
    max-width: 35px;
}
.btnMenu:hover {
    border: #090a0d
}
.navButtonsBlockOpened {
    composes: navButtonsBlock;
    display: flex;
}