.skillsBanner {
    composes: banner from './../../App.css';
}
.parallaxImg {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skillsContent{
    composes: bannerContent from './../../App.css';
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
}
.container {
    composes: container from './../../App.css';
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    min-height: min-content;
}
@media (max-width: 360px) {
    .skillsContent {
        justify-content: center;
    }
    .item {
        max-width: 290px;
    }
    .skillsContent{
        flex-direction: row;
    }
    h2 {
        font-size: 1.9rem;
    }
}
.containerCol {
    composes: container;
    flex-direction: column;
    max-width: 30%;
}
.item {
    composes: card from './../../App.css';
}
.image {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item > * span, h4 {
    font-size: 2rem;
    font-weight: bold;
}