.skillsBanner {
    composes: banner from './../../App.css';
}
.parallaxImg {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skillsContent{
    composes: bannerContent from './../../App.css';
    flex-direction: column;
}
.container {
    composes: container from './../../App.css';
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    min-height: min-content;
}
.containerCol {
    composes: container;
    flex-direction: column;
    max-width: 30%;
}
.item {
    composes: card from './../../App.css';
    background-color: rgba(0,255,0,0.3);
}
.image {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item > * span, h4 {
    font-size: 2rem;
    font-weight: bold;
}