
.container {
    composes: container from './../../App.css';
    flex-direction: column;
    text-align: left;
    max-width: 30rem;
}
.container > article {
    font-size: 18px;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.banner {
    composes: banner from './../../App.css';
}
.bannerContent {
    composes: container from './../../App.css';
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 150vh;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
}
.mainPict {
    transform: perspective(1000px);
    transform-style: preserve-3d;
    position: relative;
    margin-top: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}
.mainPict:before {
    content: '';
    position: absolute;
    top: -10%;
    left: 3%;
    height: 115%;
    width: 100%;
    border: 15px solid blue;
}
.mainPict > img{
    transform: translateZ(50px);
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.containerIform {
    composes: container;
    padding-left: 0px;
}
.containerIform > span {
    padding: 10px 0px;
    font-size: 20px;
    border-bottom: 1px solid #8f857d;
}
.title {
    position: relative;
    font-family: 'Montserrrat', sans-serif;
    max-width: min-content;
}
.title span {
    z-index: 2;
    max-width: min-content;
    position: relative;
}
.title span:nth-child(even):before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 15px;
    background-color: blue;
    z-index: -1;
}