
.banner {
    composes: banner from './../../App.css';
}
.bannerContent {
    composes: bannerContent from './../../App.css';
}
.mainPict > img{
    max-width: 400px;
}
.container {
    composes: container from './../../App.css';
}