
.banner {
    composes: banner from './../../App.css';
}
.bannerContent {
    composes: bannerContent from './../../App.css';
    background-color: rgba(0, 0, 0, 0.4);
}
.discription {
    composes: container from './../../App.css';
    justify-content: flex-start;
    flex-direction: column;
    text-align: initial;
    border-left: 3px solid #8f857d;
    box-shadow: -3px 0px 3px -3px #8f857d;
}
.container {
    composes: container from './../../App.css';
}

.downloadBtn {
    background-color: rgba(0,0,0,0);
    padding: 8px;
    border: 1px solid #8f857d;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.title {
    text-shadow: #8f857d;
    margin: 10px;
    z-index: 2;
}
.title span {
    max-width: min-content;
    position: relative;
}
.title span:before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 15px;
    background-color: #00004b;
    box-shadow: 0px 0px 5px 0px #00004b;
    z-index: -1;
}
