.worksBanner
{
    composes: banner from './../../App.css';
}

.worksContent
{
    flex-direction: column;

    padding-bottom: 25px;

    composes: bannerContent from './../../App.css';
}

.container
{
    display: flex;

    justify-content: center;

    min-height: min-content;
    composes: container from './../../App.css';
}

.projectWrapper
{
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 490px;
    height: max-content;
    margin: 10px;
    padding: 5px;

    background-color: rgba(255, 255, 255, .2);
}

.projectImg
{
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 500px;

    background-size: cover;
}

.projectImg:before
{
    background: #1c1d21;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: .4s opacity;
    transition: .4s opacity;
    z-index: 22;
}

.projectImg:hover:before
{
    opacity: 0.9;
}

.projectImg:hover .projectContent
{
    visibility: visible;

}
.projectImg:hover .projectContent > *
{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}
.title
{
    z-index: 45;

    text-shadow: 1px 1px 3px black, 0 0 1em #1f1d50;
}

.projectContent
{
    visibility: hidden;
    overflow: visible;
    justify-content: space-evenly;

    z-index: 45;

    text-align: center;

    composes: container;

}
.projectContent > *
{
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    color: #fff;
    -webkit-transition: .2s all;
    transition: .2s all;
}
.projectDescription
{
    composes: projectContent;
    margin-bottom: 10px;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
}
.projectDescription >span
{
    font-size: 1.3rem;
}
.filterBtnRow
{
    flex-direction: row;
    justify-content: center;

    composes: container from './../../App.css';
}

.filterBtn
{
    font-size: 20px;
    font-weight: bolder;

    position: relative;
    z-index: 3;

    display: flex;
    justify-content: center;

    min-width: 66px;
    margin: 5px;
    padding: 8px 30px;

    color: white;
    border: none;
    background-color: rgba(0, 0, 0, .05);
}

.filterBtn:hover
{
    border: none;
}

.filterBtn:before
{
    position: absolute;
    z-index: -1;
    bottom: 0;

    width: 40%;
    height: 15px;

    content: '';
    -webkit-transition: width .5s, height .5s, background-color .5s, -webkit-transform .5s;
            transition: width .5s, height .5s, background-color .5s, transform .5s;

    background-color: #00004b;
    box-shadow: 0 0 5px 0 #00004b;
}

.filterBtn:hover:before
{
    width: 100%;
    height: 100%;
}

.linkWrap > span
{
    font-size: 1.5rem;
    cursor: pointer;
}
.link
{
    position: relative;
    z-index: 45;

    display: flex;
    justify-content: center;

    min-width: 66px;
    margin: 5px;
    padding: 8px 30px;

    color: white;
    border: none;
    background-color: inherit;
}

.link > img
{
    height: 45px;
}

.linkWrap:hover *
{
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 126));
       -moz-filter: drop-shadow(0px 0px 7px rgb(0, 0, 126));
            filter: drop-shadow(0px 0px 7px rgb(0, 0, 126));
}

@media (max-width: 992px)
{
    .containerCards
    {
        justify-content: center;
    }

    .link
    {
        font-size: 1.2rem;
    }
}

@media (max-width: 550px)
{
    .container
    {
        padding: 2px;
    }

    .containerCards
    {
        justify-content: center;

        padding: 2px;
    }

    .projectWrapper
    {
        width: 90%;
        margin-bottom: 25px;
    }
}

.line
{
    display: flex;

    width: 50px;
    height: 2px;
    margin: 20px auto;

    content: '';

    background-color: white;
}
