.worksBanner {
    composes: banner from './../../App.css';
}
.worksContent{
    composes: bannerContent from './../../App.css';
}
.container {
    composes: container from './../../App.css';
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    min-height: min-content;
}
.containerCards {
    composes: container;
    justify-content: flex-start;
}
.item {
    composes: card from './../../App.css';
    margin: 10px;
    background-color: rgba(0,255,0,0.3);
}
.image {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item > * span, h4 {
    font-size: 2rem;
    font-weight: bold;
}
.filterBtnRow {
    composes: container from './../../App.css';
    flex-direction: row;
    justify-content: center;
}
.filterBtn {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin: 5px;
}