.worksBanner {
    composes: banner from './../../App.css';
}
.worksContent{
    composes: bannerContent from './../../App.css';
    flex-direction: column;
}
.container {
    composes: container from './../../App.css';
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    min-height: min-content;
}
.containerCards {
    composes: container;
    justify-content: center;
}
.projectImageWrapper {
    width: 100%;
    max-width: 40%;
    /* whatever width you want */
    display: flex;
    position: relative;
    background-size: contain;
    margin: 0 auto;
}
.projectImageWrapper:after {
    padding-top: 75%;
    /* this llama image is 800x600 so set the padding top % to match 600/800 = .75 */
    display: flex;
    content: '';
}
.projectImageWrapper:hover{
    transform: scale(1.05);
}
.projectContent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.projectContent > h4 {
    font-size: 2rem;
    font-weight: bold;
}
.link {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.link:hover {
    border-bottom: 1px solid white;
    color: #999999;
}

.filterBtnRow {
    composes: container from './../../App.css';
    flex-direction: row;
    justify-content: center;
}
.filterBtn {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin: 5px;
}

@media (max-width: 992px) {
    .containerCards {
        justify-content: space-between;
    }
}
.line {
    display: flex;
    content: '';
    background-color: white;
    height: 1px;
    width: 50px;
    margin: 30px auto;
}