.container {
    composes: container from './../../App.css';
    justify-content: center;
    align-content: center;
}
.container >h6 {
    margin: 15px;
}
.linkSocial > a{
    margin-right: 10px;
    margin-left: 10px;
    min-height: fit-content;
    cursor: pointer;
}
.linkSocial {
    min-height: fit-content;
}