.App
{
    text-align: center;

    box-shadow: 0 0 5px 0 #00004b;
}

.card
{
    font-size: 15px;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 19rem;
    height: 25rem;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;

    color: #999;
}

.banner
{
    position: relative;

    overflow: hidden;

    min-height: 120vh;
    padding: 0;

    background-color: #1f1f20;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.bannerContent
{
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 120vh;
}

.container
{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;

    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1151px)
{
    .container
    {
        max-width: 1100px;
    }

    .App
    {
        max-width: 1280px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) and (max-width: 1150px)
{
    .container
    {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .container
    {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px)
{
    .container
    {
        max-width: 540px;
    }

    h2,
    h3
    {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) and (min-width: 360px)
{
    .container
    {
        max-width: 350px;
    }
}

button
{
    font-weight: 400;

    display: inline-block;

    box-sizing: border-box;
    max-height: 3rem;
    margin: 2px 0;
    padding: 8px 20px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    border: solid 1px transparent;
    border-radius: 3px;
}

button:hover
{
    border-bottom: 1px solid #8f857d;
}

link
{
    text-decoration: none;
}

hr
{
    width: 80%;
    height: .5px;

    border-color: rgb(169, 160, 111);
    background-color: rgb(255, 255, 255);
}

button:focus
{
    outline: 0;
}
