
.banner {
    composes: banner from './../../App.css';
    min-height: 70vh;
}
.bannerContent {
    composes: bannerContent from './../../App.css';
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.9);
}
.container {
    composes: container from './../../App.css';
    justify-content: center;
    align-items: center;
}
.containerCol {
    composes: container from './../../App.css';
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parallaxImg {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}